@import url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
/*
.wizard-wrap.all,
.wizard-wrap.container,
.wizard-wrap.container-create,
.wizard-wrap.amazon,
.wizard-wrap.git-from-url,
.wizard-wrap.ftp,
.wizard-wrap.digital-ocean,
.wizard-wrap.dropbox,
.wizard-wrap.drive,
.wizard-wrap.github,
.wizard-wrap.github2,
.wizard-wrap.bitbucket,
.wizard-wrap.loader,
.wizard-wrap.sftp
    display: none

.wizard-wrap.sftp.public
    display: flex

*/

/* Resets */
a
    text-decoration: none

/* INPUT SEARCH */
input[type="text"]
    background: transparent
    outline: none
    border: none


/* WIZARD ======================================== */
.wizard-wrap
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    flexbox()
    flex-flow: column nowrap
    background: #3a3333

    .wiz-top,
    .wiz-bot
        display: block
        width: 100%

/* WIZARD TOP ========== */
.wizard-wrap .wiz-top
    height: 56px
    flexbox()
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    position: relative
    z-index: 1000
    background: #3a3333
    box-shadow(shadowLvl2)

    .wiz-top__desc
        flexbox()
        align-items: center
        height: 100%
        font-size: 18px
        font-weight: 400
        padding-left: 16px
        box-sizing()
        flex: 1

    /* Icons, Buttons */
    .wiz-top__back,
    .wiz-top__next,
    .wiz-top__more,
    .wiz-top__close,
    .wiz-top__search
        flexbox()
        justify-content: center
        align-items: center
        width: 48px
        height: 48px

    .wiz-top__create,
    .wiz-top__connect,
    .wiz-top__next-txt
        flexbox()
        justify-content: center
        align-items: center
        height: 48px
        box-sizing()
        padding: 0 16px
        text-transform: uppercase
        font-size: 12px



/* WIZARD BOTTOM ========== */
.wizard-wrap .wiz-bot
    height: calc(100% - 56px)
    overflow: auto
    position: relative
    

    .wiz-row-list
        width: 100%
        background: #463e3e
        box-shadow(shadowLvl2)
        box-sizing()
        padding-bottom: 20px

        /* Wizard Row */
        .wiz-row
            width: 100%
            min-height: 56px
            flexbox()
            flex-flow: row nowrap
            align-items: center
            overflow: hidden
            

            .wiz-row__icon
                flexbox()
                justify-content: center
                align-items: center
                width: 48px
                height: 48px

            .wiz-row__desc
                flexbox()
                flex-flow: column nowrap
                justify-content: center
                align-items: flex-start
                padding: 16px
                box-sizing()
                height: 100%
                flex: 1

                .wiz-row__desc--title
                    font-size: 16px
                    margin-bottom: 4px

                .wiz-row__desc--content
                    font-size: 13px




/* WIZARD FILTER ========== */
.filter
    position: relative
    flexbox()
    align-items: center
    height: 56px
    background: #463e3e
    margin-bottom: 8px
    box-shadow(shadowLvl2)

    .filter__select
        flexbox()
        align-items: center
        height: 100%
        box-sizing()
        padding: 0 16px
        font-size: 14px

        i
            margin-left: 15px

    .filter__list
        position: absolute
        top: 56px
        background: #000
        flexbox()
        flex-flow: column nowrap
        border-radius(3px)
        box-sizing()
        padding: 5px 0
        z-index: 10

        .filter__list--item
            box-sizing()
            padding: 16px
            font-size: 14px


/* WIZARD CHECKBOX BOTTOM ========== */
/* WIZARD PUBLIC KEY BOTTOM ========== */
.checkbox-bar,
.publickey-bar
    position: relative
    flexbox()
    align-items: center
    height: 56px
    background: #463e3e
    margin-top: 8px
    box-shadow(shadowLvl2)


    .checkbox-bar__ckbox
        flexbox()
        align-items: center
        box-sizing()
        padding: 0 10px 0 16px

    .checkbox-bar__label
        font-size: 12px

    /* Public Key link */
    .publickey-bar__link
        width: 100%

        a
            color: #fff
            font-size: 12px
            text-transform: uppercase
            margin-left: 10px
            padding: 10px 16px
            box-sizing()

       





/* WIZARD ALL & CONTAINER - botom border & padding ======================================== */
.wizard-wrap.all,
.wizard-wrap.container,
.wizard-wrap.github2

    .wiz-row-list
        padding: 0

    .wiz-row
        border-bottom: 1px solid #3a3333
        box-sizing()


/* WIZARD CONTAINER - scroll ======================================== */
.wizard-wrap.container .wiz-bot
    height: calc(100% - 120px)

/* WIZARD GITHUB STEP 2 - scroll ======================================== */
.wizard-wrap.github2 .wiz-bot
    height: calc(100% - 184px)

/* WIZARD SFTP/SSH *PUBLIC KEY* - scroll ======================================== */
.wizard-wrap.sftp.public .wiz-bot
    height: calc(100% - 112px)



/* WIZARD DIGITAL OCEAN ======================================== */
.connection
    flexbox()
    flex-flow: column nowrap
    box-sizing()
    padding: 25px 16px


    /* Top message */
    .connection__msg
        font-size: 14px
        box-sizing()
        margin-bottom: 20px

        
    /* Icon and text */
    .connection__account
        flexbox()
        flex-flow: column nowrap
        align-items: center

        .connection__account--icon
            width: 50px
            height: 50px
            flexbox()
            justify-content: center
            align-items: center
        
        .connection__account--txt
            text-transform: uppercase
            text-align: center
            font-size: 14px



/* WIZARD SSH options ======================================== */


    #publickey
        overflow: hidden
        font-size: 12px

/* Button wizard */
.button
    flexbox()
    justify-content: center
    align-items: center
    box-sizing()
    padding: 10px
    margin-left: auto
    background: #3a3333
    color: #d6cbcb 
    font-size: 10px
    border: 0
    outline: none
    transition: all 0.5s ease
    text-transform: uppercase

    &.copy
        background: #379237
        color: #fff


/* WIZARD Loader ======================================== */
.loader
    flexbox()
    flex-flow: column nowrap
    justify-content: flex-start
    align-items: center
    width: 100%
    height: 100%

    .loader__icon
        display: block
        width: 70px
        height: 70px
        // background-image: url("img/loader/loader96@48.png")
        // background-repeat: no-repeat
        // background-size: 50px
        position: relative
        margin-top: 20%

    .loader__text
        width: 80%
        text-align: center
        margin-top: 50px


// @-webkit-keyframes spin {
//     from {
//         -ms-transform: rotate(0deg)
//         -moz-transform: rotate(0deg)
//         -webkit-transform: rotate(0deg)
//         -o-transform: rotate(0deg)
//         transform: rotate(0deg)
//     }
//     to {
//         -ms-transform: rotate(360deg)
//         -moz-transform: rotate(360deg)
//         -webkit-transform: rotate(360deg)
//         -o-transform: rotate(360deg)
//         transform: rotate(360deg)
//     }
// }
// @keyframes spin {
//     from {
//         -ms-transform: rotate(0deg)
//         -moz-transform: rotate(0deg)
//         -webkit-transform: rotate(0deg)
//         -o-transform: rotate(0deg)
//         transform: rotate(0deg)
//     }
//     to {
//         -ms-transform: rotate(360deg)
//         -moz-transform: rotate(360deg)
//         -webkit-transform: rotate(360deg)
//         -o-transform: rotate(360deg)
//         transform: rotate(360deg)
//     }
// }
// .spin
//     -webkit-animation: spin 2s linear infinite
//     -moz-animation: spin 2s linear infinite
//     -ms-animation: spin 2s linear infinite
//     -o-animation: spin 2s linear infinite
//     animation: spin 2s linear infinite








/* Loader Ring ================ */
.loading-ring-loader
	position: relative
	margin: 0 auto
	width: 70px
	height: 70px

	&:before
		content: ''
		display: block
		padding-top: 100%
	


.circular
	animation: rotate 2s linear infinite
	height: 100%
	transform-origin: center center
	width: 100%
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto


.path
	stroke-dasharray: 1, 200
	stroke-dashoffset: 0
	animation: dash 1.5s ease-in-out infinite
	stroke-linecap: round
	stroke: #7e3f98


@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}




