/* MAIN STYL ======================================= */
/* import all global styl */
.response-text:empty {
  visibility: hidden;
}
.response-text {
  font-weight: 300;
  color: #f00;
  font-size: 14px;
  position: relative;
  margin-top: 5px;
  height: 16px;
}
.mui-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  height: 92px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16px 10px 16px;
/* Error message */
}
.mui-input .error-msg {
  position: relative;
  width: 100%;
  color: #d63030;
  font-size: 12px;
  margin-top: 4px;
}
.mui-input .error-msg:empty {
  visibility: hidden;
}
.mui-input .group {
  position: relative;
  width: 100%;
/* LABEL ======================================= */
/* active state */
/* BOTTOM BARS ================================= */
/* active state */
}
.mui-input .group input {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}
.mui-input .group input:focus {
  outline: none;
  background: transparent;
}
.mui-input .group label {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}
.mui-input .group input:focus ~ label,
.mui-input .group input:valid ~ label {
  top: -10px;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.mui-input .group .bar {
  position: relative;
  display: block;
  width: 100%;
}
.mui-input .group .bar:before,
.mui-input .group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #7e3f98;
  transition: 0.2s ease all;
}
.mui-input .group .bar:before {
  left: 50%;
}
.mui-input .group .bar:after {
  right: 50%;
}
.mui-input .group input:focus ~ .bar:before,
.mui-input .group input:focus ~ .bar:after {
  width: 50%;
}
.mui-textarea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 16px;
}
.mui-textarea label {
  font-size: 11px;
  font-weight: normal;
  position: relative;
  pointer-events: none;
}
.mui-textarea textarea {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  color: #d6cbcb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  resize: none;
  border-bottom: 1px solid #ccc;
  min-height: 100px;
}
.select-wrap {
  width: 100%;
  height: 75px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
}
.select-wrap .select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px 10px 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
}
.select-wrap .select-list {
  position: absolute;
  background: #000;
  width: calc(100% - 32px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0;
  z-index: 10;
}
.select-wrap .select-list .select-list__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  font-size: 14px;
}
.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16px;
}
.checkbox .checkbox__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox .checkbox__span {
  margin-left: 10px;
  font-size: 12px;
}
/* import all screens */
@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
a {
  text-decoration: none;
}
input[type="text"] {
  background: transparent;
  outline: none;
  border: none;
}
.wizard-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  background: #3a3333;
}
.wizard-wrap .wiz-top,
.wizard-wrap .wiz-bot {
  display: block;
  width: 100%;
}
.wizard-wrap .wiz-top {
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  background: #3a3333;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
/* Icons, Buttons */
}
.wizard-wrap .wiz-top .wiz-top__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex: 1;
}
.wizard-wrap .wiz-top .wiz-top__back,
.wizard-wrap .wiz-top .wiz-top__next,
.wizard-wrap .wiz-top .wiz-top__more,
.wizard-wrap .wiz-top .wiz-top__close,
.wizard-wrap .wiz-top .wiz-top__search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.wizard-wrap .wiz-top .wiz-top__create,
.wizard-wrap .wiz-top .wiz-top__connect,
.wizard-wrap .wiz-top .wiz-top__next-txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16px;
  text-transform: uppercase;
  font-size: 12px;
}
.wizard-wrap .wiz-bot {
  height: calc(100% - 56px);
  overflow: auto;
  position: relative;
}
.wizard-wrap .wiz-bot .wiz-row-list {
  width: 100%;
  background: #463e3e;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 20px;
/* Wizard Row */
}
.wizard-wrap .wiz-bot .wiz-row-list .wiz-row {
  width: 100%;
  min-height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
}
.wizard-wrap .wiz-bot .wiz-row-list .wiz-row .wiz-row__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.wizard-wrap .wiz-bot .wiz-row-list .wiz-row .wiz-row__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  flex: 1;
}
.wizard-wrap .wiz-bot .wiz-row-list .wiz-row .wiz-row__desc .wiz-row__desc--title {
  font-size: 16px;
  margin-bottom: 4px;
}
.wizard-wrap .wiz-bot .wiz-row-list .wiz-row .wiz-row__desc .wiz-row__desc--content {
  font-size: 13px;
}
.filter {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 56px;
  background: #463e3e;
  margin-bottom: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.filter .filter__select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16px;
  font-size: 14px;
}
.filter .filter__select i {
  margin-left: 15px;
}
.filter .filter__list {
  position: absolute;
  top: 56px;
  background: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0;
  z-index: 10;
}
.filter .filter__list .filter__list--item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  font-size: 14px;
}
.checkbox-bar,
.publickey-bar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 56px;
  background: #463e3e;
  margin-top: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
/* Public Key link */
}
.checkbox-bar .checkbox-bar__ckbox,
.publickey-bar .checkbox-bar__ckbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px 0 16px;
}
.checkbox-bar .checkbox-bar__label,
.publickey-bar .checkbox-bar__label {
  font-size: 12px;
}
.checkbox-bar .publickey-bar__link,
.publickey-bar .publickey-bar__link {
  width: 100%;
}
.checkbox-bar .publickey-bar__link a,
.publickey-bar .publickey-bar__link a {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 10px;
  padding: 10px 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wizard-wrap.all .wiz-row-list,
.wizard-wrap.container .wiz-row-list,
.wizard-wrap.github2 .wiz-row-list {
  padding: 0;
}
.wizard-wrap.all .wiz-row,
.wizard-wrap.container .wiz-row,
.wizard-wrap.github2 .wiz-row {
  border-bottom: 1px solid #3a3333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wizard-wrap.container .wiz-bot {
  height: calc(100% - 120px);
}
.wizard-wrap.github2 .wiz-bot {
  height: calc(100% - 184px);
}
.wizard-wrap.sftp.public .wiz-bot {
  height: calc(100% - 112px);
}
.connection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 16px;
/* Top message */
/* Icon and text */
}
.connection .connection__msg {
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.connection .connection__account {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.connection .connection__account .connection__account--icon {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connection .connection__account .connection__account--txt {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}
#publickey {
  overflow: hidden;
  font-size: 12px;
}
.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  margin-left: auto;
  background: #3a3333;
  color: #d6cbcb;
  font-size: 10px;
  border: 0;
  outline: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
}
.button.copy {
  background: #379237;
  color: #fff;
}
.loader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loader .loader__icon {
  display: block;
  width: 70px;
  height: 70px;
  position: relative;
  margin-top: 20%;
}
.loader .loader__text {
  width: 80%;
  text-align: center;
  margin-top: 50px;
}
.loading-ring-loader {
  position: relative;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}
.loading-ring-loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #7e3f98;
}
@-moz-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-o-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
html,
body,
div,
table,
p,
input {
  color: #d6cbcb;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
