/* GLOBAL ======================================= */

/* variables & mixins */
@import 'global/variables'
@import 'global/mixins'


/* all global styl */
@import 'global/colorPalete'
@import 'global/input'
@import 'global/buttons'


*
	margin: 0
	padding: 0
	
	font-family: dafaultFont
	font-size: defaultSize
	color: defaultColor
	
img
	border: none