/* MAIN STYL ======================================= */


/* import all global styl */
@import 'global'


/* import all screens */
@import 'login'
@import 'fileExplorer'
@import 'dialog'
//@import 'editor'
//@import 'revisions'
//@import 'mainMenu'
//@import 'fileMenu'



html, body, div, table, p, input
	color: #d6cbcb