/* BUTTONS STYL */


/* Header buttons */
.menu-side,
.gotoanything,
.editor,
.notification,
.menu,
.filemenu,
.tabsicon,
.back,
.close,
.close-notification
.copy,
.cut,
.delete,
.download
	display: block
	width: 48px !important
	height: 48px !important
	
.menu-side
	background: url('img/explorer/menu-side.png') no-repeat center
	background-size: 17px
	
.gotoanything
	background: url('img/explorer/goto-anything.png') no-repeat center
	background-size: 17px

.editor
	background: url('img/explorer/editor.png') no-repeat center
	background-size: 17px

.notification
	background: url('img/explorer/notification.png') no-repeat center
	background-size: 17px

.menu
	background: url('img/explorer/menu.png') no-repeat center
	background-size: 17px

.filemenu
	background: url('img/explorer/file-menu.png') no-repeat center
	background-size: 17px

.tabsicon
	background: url('img/explorer/tabs.png') no-repeat center
	background-size: 17px

.back
	background: url('img/back.png') no-repeat center
	background-size: 24px !important
	
.close
	background: url('img/close.png') no-repeat center
	background-size: 17px !important

.copy
	background: url('img/explorer/copy.png') no-repeat center
	background-size: 17px !important

.cut
	background: url('img/explorer/cut.png') no-repeat center
	background-size: 17px !important

.delete
	background: url('img/explorer/delete.png') no-repeat center
	background-size: 17px !important
	
	/* overwrite */
	background-color: transparent !important

.download
	background: url('img/explorer/download.png') no-repeat center
	background-size: 17px !important




/* Revision buttons */
.close-notification
	background: url('img/close.png') no-repeat center
	background-size: 17px !important




/* Find & Replace buttons */
.left-arrow
	background: url('img/explorer/arrow-left.png') no-repeat center
	background-size: 14px !important

.right-arrow
	background: url('img/explorer/arrow-right.png') no-repeat center
	background-size: 14px !important


.replace-wrapper
	button
		width: 100% !important
		height: 100% !important
		color: color4
		min-width: auto !important
		text-transform: initial
		
	input
		margin-left: 12px













