/* ICONS STYL */


/* Find & Replace - Bottom slidebar icons ======================= */
.case .icon
	background: url('img/explorer/match-case.png') no-repeat center
	background-size: 16px !important

.regex .icon
	background: url('img/explorer/regex.png') no-repeat center
	background-size: 16px !important


.case .toggle.active,
.regex .toggle.active
	background: url('img/explorer/check.png') no-repeat center
	background-size: 22px !important




/* Right Slidebar icons ======================= */
.simple-menu .menu-item-wrapp .menu-item-wrap-head:before
	content: ' '
	width: 48px
	height: 48px
	display: block
	position: relative


.find .menu-item-wrap-head:before
	background: url('img/explorer/find.png') no-repeat center
	background-size: 16px !important
	
.replace .menu-item-wrap-head:before
	background: url('img/explorer/replace.png') no-repeat center
	background-size: 16px !important
	
.undo .menu-item-wrap-head:before
	background: url('img/explorer/undo.png') no-repeat center
	background-size: 16px !important
	
.undo_selection .menu-item-wrap-head:before
	background: url('img/explorer/undo-selection.png') no-repeat center
	background-size: 16px !important
	
.redo .menu-item-wrap-head:before
	background: url('img/explorer/redo.png') no-repeat center
	background-size: 16px !important
	
.beautify .menu-item-wrap-head:before
	background: url('img/explorer/beautify.png') no-repeat center
	background-size: 16px !important
	
.indentLeft .menu-item-wrap-head:before
	background: url('img/explorer/indentLeft.png') no-repeat center
	background-size: 16px !important
	
.indentRight .menu-item-wrap-head:before
	background: url('img/explorer/indentRight.png') no-repeat center
	background-size: 16px !important
	
.goto_line .menu-item-wrap-head:before
	background: url('img/explorer/goto-line.png') no-repeat center
	background-size: 16px !important
	
.refresh .menu-item-wrap-head:before
	background: url('img/explorer/refresh.png') no-repeat center
	background-size: 16px !important
	
.reopen_with_encoding .menu-item-wrap-head:before
	background: url('img/explorer/reopen_with_encoding.png') no-repeat center
	background-size: 16px !important
	
.save_with_encoding .menu-item-wrap-head:before
	background: url('img/explorer/save_with_encoding.png') no-repeat center
	background-size: 16px !important
	
.save .menu-item-wrap-head:before
	background: url('img/explorer/save.png') no-repeat center
	background-size: 16px !important
	
.save_as .menu-item-wrap-head:before
	background: url('img/explorer/save_as.png') no-repeat center
	background-size: 16px !important
	
.save_all .menu-item-wrap-head:before
	background: url('img/explorer/save_all.png') no-repeat center
	background-size: 16px !important
	
.revisions .menu-item-wrap-head:before
	background: url('img/explorer/revisions.png') no-repeat center
	background-size: 16px !important
	
.share .menu-item-wrap-head:before
	background: url('img/explorer/share.png') no-repeat center
	background-size: 16px !important




/* Bottom Slidebar - Connection icons ======================= */
.new-connection .menu-item-wrap-head:before
	background: url('img/explorer/container.png') no-repeat center
	background-size: 16px !important

.new-project .menu-item-wrap-head:before
	background: url('img/explorer/box.png') no-repeat center
	background-size: 16px !important

.project-config .menu-item-wrap-head:before,
.settings .menu-item-wrap-head:before
	background: url('img/explorer/settings1.png') no-repeat center
	background-size: 16px !important

.share-project .menu-item-wrap-head:before
	background: url('img/explorer/share-project.png') no-repeat center
	background-size: 16px !important

.switch-project .menu-item-wrap-head:before
	background: url('img/explorer/switch-project.png') no-repeat center
	background-size: 16px !important

.manage-projects .menu-item-wrap-head:before
	background: url('img/explorer/settings.png') no-repeat center
	background-size: 16px !important

.clone .menu-item-wrap-head:before
	background: url('img/explorer/clone.png') no-repeat center
	background-size: 16px !important

.paste .menu-item-wrap-head:before
	background: url('img/explorer/paste.png') no-repeat center
	background-size: 16px !important

.rename .menu-item-wrap-head:before
	background: url('img/explorer/rename.png') no-repeat center
	background-size: 16px !important

.permissions .menu-item-wrap-head:before
	background: url('img/explorer/permissions.png') no-repeat center
	background-size: 16px !important

.create-file .menu-item-wrap-head:before
	background: url('img/explorer/new-file.png') no-repeat center
	background-size: 16px !important

.create-folder .menu-item-wrap-head:before
	background: url('img/explorer/new-folder.png') no-repeat center
	background-size: 16px !important

.upload .menu-item-wrap-head:before
	background: url('img/explorer/upload.png') no-repeat center
	background-size: 16px !important

.ssh-terminal .menu-item-wrap-head:before
	background: url('img/explorer/ssh.png') no-repeat center
	background-size: 16px !important

.remove .menu-item-wrap-head:before
	background: url('img/explorer/delete.png') no-repeat center
	background-size: 16px !important







/* File Explorer - Icons ======================= */

/* Connections */
.connection.ssh .endor-node-inner-icon
	background: url('img/explorer/ssh.png') center no-repeat
	background-size: 20px

.connection.devbox .endor-node-inner-icon
	background: url('img/explorer/container.png') center no-repeat
	background-size: 20px

.connection.dropbox .endor-node-inner-icon
	background: url('img/explorer/dropbox.png') center no-repeat
	background-size: 20px

.connection.drive .endor-node-inner-icon
	background: url('img/explorer/drive.png') center no-repeat
	background-size: 20px

.connection.ftp .endor-node-inner-icon,
.connection.sftp .endor-node-inner-icon
	background: url('img/explorer/ftp.png') center no-repeat
	background-size: 20px



/* Folders and Files */
.folder .endor-node-inner-icon
	background: url('img/explorer/folder.png') center no-repeat
	background-size: 20px

.file .endor-node-inner-icon
	background: url('img/explorer/file.png') center no-repeat
	background: url("img/files2x/file-default@2x.png") center no-repeat
	background-size: 20px




/* File Types */
.folder .endor-node-inner-icon
	background: url('img/explorer/folder.png') center no-repeat
	background-size: 20px



.connection .endor-node-inner-icon
	background-image: url("img/files2x/service-ftp.png")
  
.file.ai .endor-node-inner-icon
	background-image: url("img/files2x/file-ai@2x.png")
  
.file.app .endor-node-inner-icon
	background-image: url("img/files2x/file-app@2x.png")
  
.file.arhive .endor-node-inner-icon
	background-image: url("img/files2x/file-arhive@2x.png")
  
.file.asp .endor-node-inner-icon
	background-image: url("img/files2x/file-asp@2x.png")
  
.file.audio .endor-node-inner-icon
	background-image: url("img/files2x/file-audio@2x.png")
  
.file.boxes .endor-node-inner-icon
	background-image: url("img/files2x/file-boxes@2x.png")
  
.file.c .endor-node-inner-icon
	background-image: url("img/files2x/file-c@2x.png")
  
.file.cf .endor-node-inner-icon
	background-image: url("img/files2x/file-cf@2x.png")
  
.file.cfg .endor-node-inner-icon
	background-image: url("img/files2x/file-cfg@2x.png")
  
.file.code .endor-node-inner-icon
	background-image: url("img/files2x/file-code@2x.png")
  
.file.css .endor-node-inner-icon
	background-image: url("img/files2x/file-css@2x.png")
  
.file.csv .endor-node-inner-icon
	background-image: url("img/files2x/file-csv@2x.png")
  
.file.db .endor-node-inner-icon
	background-image: url("img/files2x/file-db@2x.png")
  
.file.dmg .endor-node-inner-icon
	background-image: url("img/files2x/file-dmg@2x.png")
  
.file.docx .endor-node-inner-icon,
.file.doc .endor-node-inner-icon
	background-image: url("img/files2x/file-doc@2x.png")
  
.file.dxf .endor-node-inner-icon
	background-image: url("img/files2x/file-dxf@2x.png")
  
.file.fl .endor-node-inner-icon
	background-image: url("img/files2x/file-fl@2x.png")
  
.file.githubfile .endor-node-inner-icon
	background-image: url("img/files2x/file-githubfile@2x.png")
  
.file.githubcommits .endor-node-inner-icon
	background-image: url("img/files2x/file-githubcommits@2x.png")
  
.file.html .endor-node-inner-icon,
.file.htm .endor-node-inner-icon,
.file.xml .endor-node-inner-icon
	background-image: url("img/files2x/file-html@2x.png")
  
.file.img .endor-node-inner-icon,
.file.png .endor-node-inner-icon,
.file.jpg .endor-node-inner-icon,
.file.gif .endor-node-inner-icon,
.file.svg .endor-node-inner-icon,
.file.ico .endor-node-inner-icon
	background-image: url("img/files2x/file-image@2x.png")
  
.file.indd .endor-node-inner-icon
	background-image: url("img/files2x/file-indd@2x.png")
  
.file.js .endor-node-inner-icon
	background-image: url("img/files2x/file-js@2x.png")
  
.file.mdb .endor-node-inner-icon
	background-image: url("img/files2x/file-mdb@2x.png")
  
.file.mov .endor-node-inner-icon
	background-image: url("img/files2x/file-mov@2x.png")
  
.file.mpp .endor-node-inner-icon
	background-image: url("img/files2x/file-mpp@2x.png")
  
.file.msg .endor-node-inner-icon
	background-image: url("img/files2x/file-msg@2x.png")
  
.file.page .endor-node-inner-icon
	background-image: url("img/files2x/file-page@2x.png")
  
.file.part .endor-node-inner-icon
	background-image: url("img/files2x/file-part@2x.png")
  
.file.pdf .endor-node-inner-icon
	background-image: url("img/files2x/file-pdf@2x.png")
  
.file.pdf1 .endor-node-inner-icon
	background-image: url("img/files2x/file-pdf1@2x.png")
  
.file.pdf2 .endor-node-inner-icon
	background-image: url("img/files2x/file-pdf2@2x.png")
  
.file.php .endor-node-inner-icon
	background-image: url("img/files2x/file-php@2x.png")
  
.file.pptx .endor-node-inner-icon,
.file.ppt .endor-node-inner-icon
	background-image: url("img/files2x/file-ppt1@2x.png")
  
.file.psd .endor-node-inner-icon
	background-image: url("img/files2x/file-psd@2x.png")
  
.file.py .endor-node-inner-icon,
.file.python .endor-node-inner-icon
	background-image: url("img/files2x/file-python@2x.png")
  
.file.go .endor-node-inner-icon
	background-image: url("img/files2x/file-go@2x.png")
  
.file.qxd .endor-node-inner-icon
	background-image: url("img/files2x/file-qxd@2x.png")
  
.file.repo .endor-node-inner-icon
	background-image: url("img/files2x/file-repo@2x.png")
  
.file.swf .endor-node-inner-icon
	background-image: url("img/files2x/file-swf@2x.png")
  
.file.temp .endor-node-inner-icon
	background-image: url("img/files2x/file-temp@2x.png")
  
.file.torrent .endor-node-inner-icon
	background-image: url("img/files2x/file-torrent@2x.png")
  
.file.styl .endor-node-inner-icon
	background-image: url("img/files2x/file-stylus@2x.png")
  
.file.ttf .endor-node-inner-icon
	background-image: url("img/files2x/file-font@2x.png")
  
.file.txt .endor-node-inner-icon
	background-image: url("img/files2x/file-text@2x.png")
  
.file.vbs .endor-node-inner-icon
	background-image: url("img/files2x/file-vbs@2x.png")
  
.file.video .endor-node-inner-icon
	background-image: url("img/files2x/file-video@2x.png")
  
.file.xlsx .endor-node-inner-icon,
.file.xls .endor-node-inner-icon
	background-image: url("img/files2x/file-xls1@2x.png")
  
.folder-ftp .endor-node-inner-icon
	background-image: url("img/files2x/folder-ftp@2x.png")
  
.folder-link .endor-node-inner-icon
	background-image: url("img/files2x/folder-link@2x.png")
  
.folder-local .endor-node-inner-icon
	background-image: url("img/files2x/folder-local@2x.png")
  
.folder-white .endor-node-inner-icon
	background-image: url("img/files2x/folder-white@2x.png")
  
.less .endor-node-inner-icon
	background-image: url("img/files2x/file-less@2x.png")
  
.ts .endor-node-inner-icon
	background-image: url("img/files2x/file-typescript@2x.png")
  
.swift .endor-node-inner-icon
	background-image: url("img/files2x/file-swift@2x.png")
  
.sql .endor-node-inner-icon
	background-image: url("img/files2x/file-sql@2x.png")
  
.sass .endor-node-inner-icon
	background-image: url("img/files2x/file-sass@2x.png")
  
.ruby .endor-node-inner-icon
	background-image: url("img/files2x/file-ruby@2x.png")
  
.rails .endor-node-inner-icon
	background-image: url("img/files2x/file-rails@2x.png")
  
.py .endor-node-inner-icon,
.python .endor-node-inner-icon
	background-image: url("img/files2x/file-python@2x.png")
  
.go .endor-node-inner-icon
	background-image: url("img/files2x/file-go@2x.png")
  
.psd .endor-node-inner-icon
	background-image: url("img/files2x/file-psd@2x.png")
  
.ai .endor-node-inner-icon
	background-image: url("img/files2x/file-ai@2x.png")
  
.pl .endor-node-inner-icon
	background-image: url("img/files2x/file-perl@2x.png")
  
.pdf .endor-node-inner-icon
	background-image: url("img/files2x/file-pdf@2x.png")
  
.npm .endor-node-inner-icon
	background-image: url("img/files2x/file-npm@2x.png")
  
.coffee .endor-node-inner-icon
	background-image: url("img/files2x/file-coffescript@2x.png")
  
.lua .endor-node-inner-icon
	background-image: url("img/files2x/file-lua@2x.png")
  
.docker .endor-node-inner-icon
	background-image: url("img/files2x/file-docker@2x.png")
  
.java .endor-node-inner-icon
	background-image: url("img/files2x/file-java@2x.png")
  
.glup .endor-node-inner-icon
	background-image: url("img/files2x/file-gulpfile@2x.png")
  
.cpp .endor-node-inner-icon
	background-image: url("img/files2x/file-cpp@2x.png")
  
.as .endor-node-inner-icon
	background-image: url("img/files2x/file-actionscript@2x.png")
  
.md .endor-node-inner-icon
	background-image: url("img/files2x/file-markdown@2x.png")
  
.scpt .endor-node-inner-icon,
.AppleScript .endor-node-inner-icon
	background-image: url("img/files2x/file-applescript@2x.png")
  
.git .endor-node-inner-icon,
.gitignore .endor-node-inner-icon,
.gitmodules .endor-node-inner-icon
	background-image: url("img/files2x/file-git@2x.png")
  
.gitmodules .endor-node-inner-icon
	background-image: url("img/files2x/file-git@2x.png")
  
.htaccess .endor-node-inner-icon
	background-image: url("img/files2x/file-tcl@2x.png")
  
.json .endor-node-inner-icon
	background-image: url("img/files2x/file-json@2x.png")
  
.ejs .endor-node-inner-icon
	background-image: url("img/files2x/file-ejs@2x.png")
  




 /* Connection icons - currnetly don't know if we need this */

/*
.connection.bitbucket .endor-node-inner-icon
	background-image: url("img/files/service-bitbucket1.png")
  
.connection.box .endor-node-inner-icon
	background-image: url("img/files/service-box1.png")
  
.connection.cloud .endor-node-inner-icon
	background-image: url("img/files/service-cloud21.png")
  
.connection.devbox .endor-node-inner-icon
	background-image: url("img/files/service-container.png")
  
.connection.devbox.alwayson .endor-node-inner-icon
	background-image: url("img/context/always-on.png")
  
.connection.gdrive .endor-node-inner-icon
	background-image: url("img/files/service-gdrive1.png")
  
.connection.dropbox .endor-node-inner-icon
	background-image: url("img/files/service-dropbox1.png")

.connection.ftp .endor-node-inner-icon
	background-image: url("img/files/service-ftp1.png")
  
.connection.github .endor-node-inner-icon
	background-image: url("img/files/service-github1.png")
  
.connection.s3 .endor-node-inner-icon
	background-image: url("img/files/service-s31.png")
  
.connection.sandbox .endor-node-inner-icon
	background-image: url("img/files/service-sandbox1.png")
  
.connection.server .endor-node-inner-icon
	background-image: url("img/files/service-server1.png")
  
.connection.servers .endor-node-inner-icon
	background-image: url("img/files/service-servers1.png")
  
.connection.ssh-terminal .endor-node-inner-icon
	background-image: url("img/files/service-ssh-terminal1.png")
  
.connection.ssh .endor-node-inner-icon
	background-image: url("img/files/ssh1.png")
  
.connection.ssh.digitalocean .endor-node-inner-icon
	background-image: url("img/files/digitalocean.png")
	
*/
  
.connection.swift .endor-node-inner-icon
	background-image: url("img/files2x/file-swift@2x.png")
  
.connection.onedrive .endor-node-inner-icon
	background-image: url("img/files2x/onedrive.png")
  




















