/* KEYBOARD ======================================= */



/* SSH keyboard ========== */

.keyboard-plugin
	height: 38px
	width: 100%
	position: fixed
	bottom: 0
	z-index: 10000000
	background: color4
	flexbox()
	flex-flow: row nowrap
	align-items: center
	justify-content: space-between
	background: keyboard
	
	button
		float: none
		min-width: 40px !important
	
	button.toggled
		background: color6
		color: color7
		