/* NOTIFICATIONS ======================================= */

.notifications-wrapper
	background: color3
	
	/* Notifications Header is handled in "fileExplorer.styl" */
		

	.notifications-data-list:empty
		display: none
		

	.notifications-data-list
		min-height: 10px
		height: initial
		background: color3
		box-shadow(shadowLvl4)
		padding: 10px 0
		box-sizing()
		

		/* Notification Row */
		.notification-item
			flexbox()
			flex-flow: row nowrap
			align-items: center
			height: 58px
			
			.icon,
			.close-notification
				width: 48px
				height: 48px
				
			.middle
				width: calc(100% - 96px)
				
				.primary-text,
				.secondary-text
					ellipsis()
