/* PREFERENCES STYL */


/* Overwrite for scroll */
.viewport-preferences .tr-layout-auto.tr-panel
	overflow: auto !important



/* Header Tabs is handled in "fileExplorer.styl" */



/* Main List & list Items ======================= */
.viewport-preferences
	background: color2
	

.viewport-preferences ul
	background: color3
	box-shadow(shadowLvl1)
	margin-bottom: 20px
	

	/* main row - list item */	
	li
		height: 56px
		flexbox()
		align-items: center
		box-sizing()
		padding-left: 16px
		color: #d6cbcb
		font-weight: defaultWeight
		border-bottom: 1px solid color4a12
		
	li:last-child
		border-bottom: none
		
	

/* Main - Selected option block ======================== */
.viewport-preferences .main
	background: color1
	position: relative
	width: 100%
	flexbox()
	flex-flow: column nowrap

/*
	.filter
		width: 100%
		min-height: 60px
		padding: 0 31px
		box-sizing()
		flexbox()
		align-items: flex-end
*/

	.groups 
		display: block
		position: relative
		height: 100%
		width: 100%


	.pref-group
		box-shadow(0 2px 2px rgba(0, 0, 0, 0.24))
		background: color3
		margin-bottom: 8px


		.group-title
			color: color4
			color: color4a5
			font-size: fontSize03
			font-weight: 500
			padding: 16px 0 6px 16px


		.pref-item.active
			background: color1 !important

		.pref-item:last-child
			border-bottom: none

		.pref-item
			min-height: 63px
			padding: 7px 16px
			box-sizing()
			flexbox()
			flex-flow: row nowrap
			align-items: center
			justify-content: space-between
			border-bottom: 1px solid color4
			border-bottom: 1px solid color4a12
            


			.pref-item-title
				font-size: fontSize2
				display: block
				font-weight: defaultWeight

			.pref-item-description
				font-size: fontSize03
				margin-top: 4px
				box-sizing()
				padding-right: 10px


/* Main - File Types block ======================== */
.viewport-preferences .main.fileTypes
	.pref-item
		flex-flow: column nowrap
		align-items: flex-start
		justify-content: center
		
		.pref-item-right div
			font-size: fontSize03
			opacity: .5
			

.options
	background: color3
	

	div:last-child
		border-bottom: none

	div
		flexbox()
		align-items: center
		height: 56px
		width: 100%
		box-sizing()
		padding: 0 16px
		border-bottom: 1px solid color4
		border-bottom: 1px solid color4a12









