/* REVISIONS ======================================= */

.revisions-panel
	background: color1
	

.revisions-panel .revisionsList
	min-height: 10px
	height: initial
	background: color1
	box-shadow(shadowLvl4)
	padding: 10px 0
	box-sizing()
	overflow-y: auto !important
	

	/* Revision Group */
	.revision-group
		background: color3
		box-shadow(shadowLvl2)
		box-sizing()
		flexbox()
		flex-flow: column nowrap
		margin-bottom: 15px
		
		
		.revision-group-title
			color: color4a5
			line-height: 40px
			padding 0 16px
			box-sizing()
			
		

		/* Revision Row */
		.revision
			flexbox()
			flex-flow: row nowrap
			align-items: center
			padding 10px 16px
			box-sizing()
			border-bottom: 1px solid color1
			

			.avatar
				width: 32px
				height: 32px
				flexbox()
				align-items: center
				justify-content: center
				box-sizing()
				background: color3
				border: 2px solid color2
				border-radius: 100%
				font-size: fontSize4
				margin-right: 16px
				
			.primaryText
				color: color4
				font-size: fontSize1

			.secondaryText time,
			.secondaryText .user
				color: color4a5
				font-size: fontSize03



/* LOADING ======================================= */

.loading
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 1000
	background: #000














