/* SIDE PANELS STYL */

.left-side-panel.left-slidebar,
.right-side-panel.right-slidebar
	box-shadow(shadowLvl5)
	
	.usermenu-header
		background-color: color5
		color: color4
		

/* Left and Right Sidebar navigation */
.simple-menu
	background-color: color3
	overflow-y: auto
	
	/* row */
	.menu-item-wrapp
		height: 48px
		flexbox()
		align-items: center
		
		span
			color: color4
			font-size: fontSize1
			flexbox()
			align-items: center
				
				
/* Bottom Sidebar navigation */	
.bottom-slidebar
	.simple-menu
		height: calc(100% - 56px) !important
